
/*---- Header section ---*/
.booking1-navigation {
    /*background: rgba(255, 255, 255, 0.7);*/
    background: linear-gradient(135deg, #F9E5DD 0%,#A3BFBF 100%);
    padding: 15px 10px 10px 10px;
}

.booking1-desktop-logo {
    margin-top: -5px;
    background-image: url(../../images/healyos_logo_new.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 160px;        
    display: inline-block;
    cursor: pointer;
}

.booking1-mobile-logo {
    display: none;
    cursor: pointer;
}
.booking1-subsection {
    border-left: 1px solid #999;
    font-family: "Montserrat-Regular", sans-serif;
    height: 40px;
}

.booking1-header-date {
    margin-top: -1px;
}

.booking1-callme {
    float: right;
    display: none;
}

.booking1-header-date .input-group .form-control {
	font-size: 1.125em;
    height: 36px;
    background: none !important;
    border: none;
    box-shadow: none;
}

.booking1-header-date .input-group.date .input-group-addon {
    border: 0;
    background: transparent;
}

.booking1-header-timeslot{
    background: none;
    font-size: 1.125em;
    line-height: 1.1;
    height: 40px;
}

.booking1-header-timeslot select {
	background: url("../../images/customer_portal/down_arrow.png") no-repeat !important;
    background-position: right !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 178px;
    vertical-align: -webkit-baseline-middle;
    outline: none;
    border:none;
}

.booking1-header-timeslot option {
    font-size: 0.9em;
}

.booking1-header-locations {
    padding-top: 2px;
}

.booking1-header-locations .ac-select-main {
	min-width: 100% !important;
	height: 32px !important;
}

.booking1-header-locations .ac-select-wrapper {
    width: 90%;
}
.booking-spacer {
    display: none;
    height: 58px;
}

.callme-input-result-success-booking, .callme-input-result-error-booking  {
    position: fixed;
    z-index: 9999;
    width: 100% !important;
    top: 76px !important;
    right: 0 !important;
    text-align: center;
}

.callme-success-message-booking {
    display: inline-block;
    color: #5cb85c;
    padding: 12px;
    background: #fff;
    border: 1px solid #5cb85c;
    border-radius: 6px;
    box-shadow: 1px 1px 17px -2px #5cb85c;
}
.callme-error-message-booking {
    display: inline-block;
    color: #D71F27;
    padding: 12px;
    background: #fff;
    border: 1px solid #D71F27;
    border-radius: 6px;
    box-shadow: 1px 1px 17px -2px #D71F27;
}

.floating-price-container {
    position: absolute;
    padding: 10px;
    right: 0;
    background: #28ADA9;
    margin-top: 10px;
    border-radius: 10px 0px 0px 10px;
    color: #fff;
    font-size: 1.25em;
    box-shadow: 4px 2px 5px 0px rgba(88, 120, 132, 0.82);
    -moz-box-shadow: 4px 2px 5px 0px rgba(88, 120, 132, 0.82);
    -webkit-box-shadow: 4px 2px 5px 0px rgba(88, 120, 132, 0.82);
}

/*------Select a problem--------*/

.select-problem-inner-container {
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.select-problem-container {
    background: #ffcccc;
    background: -moz-linear-gradient(-45deg, #f5c7b3 0%, #a8dbdc 100%);
    background: -webkit-linear-gradient(-45deg, #f5c7b3 0%,#a8dbdc 100%);
    background: linear-gradient(135deg, #f5c7b3 0%,#a8dbdc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5c7b3', endColorstr='#a8dbdc',GradientType=1 );
}

.select-problem-right-section {
	text-align: center;
}

.select-problem-left-section {
    padding: 65px 10px 50px 130px;
}

.select-problem-left-section-heading {
    font-size: 2.5em;
    font-family: "Montserrat-UltraLight", sans-serif;
    margin-bottom: 15px;
}

.select-problem-left-section-text p {
    font-size: 1.5em;
    font-family: "Neuton-Regular", sans-serif;
}

.other-problem input {
    width: 245px;
    height: 46px;
    border: 0;
    border-radius: 25px;
    padding: 6px 10px;
    background: #F9F9F9;
    outline: none !important;
}

.other-problem {
    /*position: absolute;
    display: inline-block;
    padding-left: 135px;
    margin-top: -80px;*/
    margin-top: 10px;
}

.select-problem-continue {
    /*text-align: center;
    margin: 80px 0px;*/
    position: absolute;
    margin-top: -44px;
    padding: 0px 0px 0px 130px;
}

.select-problem-continue button {
    padding: 11px 60px;
    height: 45px; 
    outline: none !important;
}
.select-problem-right-section svg text {
    font-size: 1.125em;
    font-family: "Montserrat-Regular", sans-serif;
    color: #262626;
}

/*---- whats included in your session-----------*/
.included-session-heading {
    font-size: 2.5em;
    font-family: "Montserrat-UltraLight", sans-serif;
    margin-bottom: 40px;
}

.included-session-text-left {
    border-right: 1px solid #C7C6C6;
    padding: 10px 50px 10px 10px;
}

.included-session-text-left p {
    font-family: "Neuton-Regular", sans-serif;
    font-size: 1em;
    color: #58595b;
}
.included-session-text-right {
    margin-top: 12px;
    padding-left: 50px;
}

.included-session-text-right p {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 1.125em;
}
.included-session-inner-container {
    padding: 80px 10px;
}

/*----Request callback section----*/
.booking1-request-callback-container {
    background: #71afa9;
}
.ready-to-book-contact-section {
     margin-top: 0; 
    text-align: center;
    padding: 25px;
}
.or {
    padding: 0px 60px;
}
.booking1-contact-section {
    margin-top: 0;
    text-align: center;
    padding: 25px;
}

/* ==================Booking2 screen ========================== */

.booking2-custinfo-main-container {
    padding: 20px;
    padding-top: 100px;
}

.booking2-custinfo-heading {
    font-size: 2.5em;
    font-family: "Montserrat-UltraLight", sans-serif;
    margin-bottom: 15px;
    margin-top: 25px;
}

.cust-info-form-group {
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 50px;
}
.cust-info-form-section {
    margin: 0;
    border-bottom: 1px solid #fff;
}
.cust-info-form-section:last-child {
    border-bottom: none;
}
.cust-info-form-subsection {
    border-right: 1px solid #fff;
    padding: 15px;
}
.cust-info-form-subsection:last-child {
    border-right: none;
}
.cust-info-form-subsection input {
    background: transparent;
    width: 85%;
    height: 37px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0;
    color: #262626;
    outline: none;
}
.cust-info-form-location {
    width: 85%;
    height: 42px;
    border: 0px;
    color: rgb(38, 38, 38);
    outline: none;
    padding: 0px 5px;
    background: transparent;
}
.additional-comments textarea {
    background: transparent;
    width: 100% !important;
    height: 100px !important;
    padding: 10px;
    color: #262626;
    outline: none;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 50px;
}
i.fa.fa-map-marker {
    font-size: 30px;
    vertical-align: sub;
    margin-left: 7px;
}
.cust-info-form ::-webkit-input-placeholder {
   color: #262626;
}

.cust-info-form :-moz-placeholder { /* Firefox 18- */
   color: #262626;  
}

.cust-info-form ::-moz-placeholder {  /* Firefox 19+ */
   color: #262626;  
}

.cust-info-form :-ms-input-placeholder {  
   color: #262626;  
}

.location_icon {
    display: inline-block;
    padding: 12px;
    background: #3C3C3C;
    color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}
.location-input {
    display: inline-block;
    padding: 0;
    vertical-align: super;
    width: 95%;
}
img.check-image {
    margin-right: 12px;
    vertical-align: middle;
    margin-top: -1px;
}

.custinfo-buttons {
    background: transparent;
    border: 2px solid #f69279;
    border-radius: 24px;
    height: 49px;
    font-size: 1em;
    color: #262626;
    /*padding: 12px 30px;*/
    text-transform: uppercase;
    width: 30%;
    margin: 0px 70px;
    outline: none;
}
.custinfo-buttons:hover {
    background: #f69279;
}
button.form-button-left:hover {
    background: #93a29f;
}
button.form-button-left {
    border-color: #93A29F;
}
.form-footer-buttons {
    text-align: center;
    margin: 70px 0px;
}
.custinfo-radio-checkbox {
    font-family: "Montserrat-Hairline", sans-serif;
    margin-top: 40px;
    margin-bottom: 25px;
}

.sign-validation.ng-scope {
    float: right;
    padding-right: 10px;
}

.general-error-message {
    color: #D71F27;
    margin-top: 20px;
    margin-bottom: 30px;
}

.has-error, .has-error-right, .has-error-left, .has-error-full, .has-error-location {
    border: 2px solid #D71F27!important;
}

.has-error-right {
    border-radius: 0px 10px 10px 0px;
}

.has-error-left {
    border-radius: 10px 0px 0px 0px;
}

.has-error-full {
    border-radius: 0px 0px 0px 10px;
}

.has-error-location {
    border-radius: 13px 0px 0px 13px;
}

.validation-message {
    background: #D71F27;
    color: #fff;
    padding: 1px 5px;
    float: right;
    position: absolute;
    top: 67px;
    right: -2px;
    z-index: 1;
    text-align: right;
    width: 100px;
}

.validation-message-location {
    background: #D71F27;
    color: #fff;
    padding: 1px 5px;
    float: right;
    z-index: 1;
    text-align: right;
    width: 100px;
    margin-right: -2px;
}

.cust-info-form-subsection select {
    width: 30%;
    height: 37px;
    background: transparent;
    border: 0;
    /*margin-top: 10px;*/
    outline: none;
}

.additional-comments {
    padding: 0;
    border-right: 0;
}
.additional-comments textarea::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(242, 242, 242, 0.44);
}
.additional-comments textarea::-webkit-scrollbar-thumb {
    background-color: #84B5B1;
    border-radius: 10px;
}

.promocode-input-subsection {
    padding: 0;
}

.promocode-input-subsection input {
    width: 100%;
    padding: 15px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 13px;
    outline: none;
}

.promocode-button-subsection button {
    background: #3C3C3C;
    color: #fff;
    border: 0;
    padding: 15px;
    border-radius: 13px;
    outline: none;
}

.promocode-button-subsection button[disabled] {
    background: #9C9C9C;
}
.cust-info-form-section1 {
    margin: 0;
}

/***********Booking Confirmation**************************/
.booking-confirmation-main-container {
    padding-top: 90px;
}

.booking-confirmation-heading {
    font-size: 2.5em;
    font-family: "Montserrat-UltraLight", sans-serif;
    background: #f69279;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    color: #fff;
    padding-bottom: 12px;
    padding-top: 12px;
}

.booking-confirmation-subtext {
    font-size: 1.125em;
    font-family: "Neuton-Regular", sans-serif;
    background: #f69279;
    text-align: center;
    color: #fff;
    line-height: 20px;
    padding-bottom: 12px;
}

.booking-confirmation-row {
    background: #fff;
    border-top: 1px solid #f2f2f2;
    padding: 20px 10px;
}

.booking-confirmation-col:first-child {
    border-left: 0;
}

.booking-confirmation-col-right {
    text-align: right;
    font-family: "Montserrat-Regular", sans-serif;
}

.booking-row-bottom {
    border-radius: 0px 0px 10px 10px;
}
.booking-confirmation-content {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 50px;
}

/*i.fa.fa-user-md {
    font-size: 75px;
    vertical-align: text-top;
}*/

.booking-confirmation-col-center-logo img {}

.booking-confirmation-col-center {
    text-align: right;
    line-height: 25px;
    padding-top: 10px;
    font-family: "Neuton-Regular", sans-serif;
}

.booking-confirmation-thankyou button {
    width: 30%;
}

.booking-confirmation-thankyou {
    text-align: center;
    margin-bottom: 20px;
}