<div ng-controller="AdminCtrl" data-ng-init="initCache(); initCustCities(); initLocalities();">
    <div ng-show="actionableAppt.mode == 'listing'">
        <div class="actionableHeader">
            <span>Actionable items requested by Physio</span>
            <span class="pull-right clickable glyphicon glyphicon-refresh" title="Refresh the actionable items" ng-click="searchCancelActionableRecords()"></span>
        </div>
        <div class="table-responsive" style="overflow-x:auto">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                       
                        <th ng-click="sort2('service_provider_name')">Physio
                            <span class="glyphicon sort-icon" ng-show="sorting.by=='service_provider_name'" ng-class="{'glyphicon-chevron-up':sorting.reverse,'glyphicon-chevron-down':!sorting.reverse}"></span>
                        </th>

                        <th ng-click="sort2('customer_name')">Customer
                            <span class="glyphicon sort-icon" ng-show="sorting.by=='customer_name'" ng-class="{'glyphicon-chevron-up':sorting.reverse,'glyphicon-chevron-down':!sorting.reverse}"></span>
                        </th>

                        <th ng-click="sort2('package_code')">Package code
                            <span class="glyphicon sort-icon" ng-show="sorting.by=='package_code'" ng-class="{'glyphicon-chevron-up':sorting.reverse,'glyphicon-chevron-down':!sorting.reverse}"></span>
                        </th>
                        <th ng-click="sort2('no_of_sessions')">No. Of Session
                            <span class="glyphicon sort-icon" ng-show="sorting.by=='no_of_sessions'" ng-class="{'glyphicon-chevron-up':sorting.reverse,'glyphicon-chevron-down':!sorting.reverse}"></span>
                        </th>

                         <th ng-click="sort2('default_free_cancellation_days')">Free Cancellation (Sessions)
                            <span class="glyphicon sort-icon" ng-show="sorting.by=='default_free_cancellation_days'" ng-class="{'glyphicon-chevron-up':sorting.reverse,'glyphicon-chevron-down':!sorting.reverse}"></span>
                        </th>
      
                        <th ng-click="sort2('propose_free_cancellation_days')">Req. Free Cancellation (Sessions)
                            <span class="glyphicon sort-icon" ng-show="sorting.by=='propose_free_cancellation_days'" ng-class="{'glyphicon-chevron-up':sorting.reverse,'glyphicon-chevron-down':!sorting.reverse}"></span>
                        </th>

                         <th ng-click="sort2('default_valid_days')">Package Validity (Days)
                            <span class="glyphicon sort-icon" ng-show="sorting.by=='default_valid_days'" ng-class="{'glyphicon-chevron-up':sorting.reverse,'glyphicon-chevron-down':!sorting.reverse}"></span>
                        </th>

                        <th ng-click="sort2('propose_valid_days')">Req. Package Validity (Days)
                            <span class="glyphicon sort-icon" ng-show="sorting.by=='propose_valid_days'" ng-class="{'glyphicon-chevron-up':sorting.reverse,'glyphicon-chevron-down':!sorting.reverse}"></span>
                        </th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="rec in cancelActionableRecordsList|orderBy:sorting.by:sorting.reverse|filter:search|itemsPerPage:10"
                        pagination-id="cancelActionablesId">
                     
                        <td style="min-width:100px">
                       
                            {{rec.service_provider_name}}
                     
                        </td>
                        <td style="min-width:150px">
                          
                            {{rec.customer_name}}
                            
                        </td>
                        <td style="min-width:120px">
                         
                            {{rec.package_code}}
                           
                        </td>
                        <td>
                        
                             {{rec.no_of_sessions}}
                            
                        </td>
                        <td>
                         
                            {{rec.default_free_cancellation_days}}
                           
                        </td>
                       
                        <td>
                            <span ng-show = "rec.action != 'edit'">
                             {{rec.propose_free_cancellation_days}}
                            </span>
                            <input type="number" min="1" max="90" step="1" value="1" 
                                    style="width: 50px; padding: 0 5px; display: inline-block;"
                                    class="form-control"
                                    ng-show="rec.action == 'edit'"
                                    ng-model="rec.propose_free_cancellation_days"
                                    ng-required="true" 
                            />
                        </td>

                        <td>
                        
                             {{rec.default_valid_days}}
                            
                        </td>

                        <td>
                            <span ng-show = "rec.action != 'edit'">
                                <span style="word-break: break-word;">{{rec.propose_valid_days}}</span>
                            </span>
                            <input type="number" min="1" max="90" step="1" value="1" 
                                    style="width: 50px; padding: 0 5px; display: inline-block;"
                                    class="form-control"
                                    ng-show="rec.action == 'edit'"
                                    ng-model="rec.propose_valid_days"
                                    ng-required="true" 
                            />
                        </td>
                      
                        <td style="min-width:100px">
                           
                            <span class="glyphicon glyphicon-ok clickable"
                                  style="color: #00F900;
                                  margin-right: 15px;"
                                  title="Approve"
                                  ng-click="approveCancelActionable(rec)"></span>
                            <span class="glyphicon glyphicon-pencil clickable" 
                                  style="color: blue;" title="Edit" 
                                  ng-click="rec.action = 'edit'" data-ng-hide="rec.action == 'edit'"></span>
                            <span class="glyphicon glyphicon-remove clickable" 
                                  style="color: red;" title="Cancel" 
                                  ng-click="rec.action = 'cancel'" data-ng-show="rec.action == 'edit'"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls
                max-size="5"
                pagination-id="cancelActionablesId"
                direction-links="true"
                boundary-links="true" >
            </dir-pagination-controls>
        </div>
    </div>

    <div class="subContainer1" id="actionableEditAptContainer" ng-if="actionableAppt.mode == 'edit'">
        <a href="#" ng-click="hideEditAptMode(); resetSelectedLocation()">Actionables</a>&nbsp;<span class="glyphicon glyphicon-chevron-right"></span> <span>Ref. No. </span><span data-ng-bind="editAptId" style="font-family: arial;"></span>
        <div ng-include="'editAppointment.html'"></div>
    </div>
</div>
