<div class="headBar">
    <span>Customer Details</span>
                <span style="float:right; display: none;">
                    <span title="Edit Customer" class="clickable glyphicon glyphicon-pencil" style="margin-right:5px;" ng-click="fnEditCust()" 1onclick="slideDown('#aptEditable1')"></span>
                    <!-- <span title="Cancel Customer" class="clickable glyphicon glyphicon-trash"></span> -->
                </span>
</div>
<div class="subBodyContainer">
    <div class="table table-striped"  style="margin-bottom:0px">
        <div class="row middleRowContent">
            <span class="itemLabel2 col-xs-4">Customer id</span>
                        <span class="col-xs-8">
                        <span class="colonSeparatorRight">:</span>
                        {{custReadList.healyoscustid}}</span>
        </div>
        <div class="row middleRowContent">
            <span class="itemLabel2 col-xs-4">Name</span>
            <span class="col-xs-8"><span class="colonSeparatorRight">:</span>{{custReadList.name}}</span>
        </div>
        <div class="row middleRowContent">
            <span class="itemLabel2 col-xs-4">DOB</span>
            <span class="col-xs-8"><span class="colonSeparatorRight">:</span>{{custReadList.birthdate}}</span>
            <!-- <div data-ng-if="dobFlag">
                :<span class="clsspace2">{{custReadList.birthdate * 1000 | date:'yyyy-MM-dd'}}</span>
            </div>
            <div data-ng-if="!dobFlag"> -->
            <!-- </div> -->
        </div>
        <div class="row middleRowContent">
            <span class="itemLabel2 col-xs-4">Age</span>
            <span class="col-xs-8"><span class="colonSeparatorRight">:</span>{{custReadList.age}}</span>
        </div>
        <div class="row middleRowContent">
            <span class="itemLabel2 col-xs-4">Contact Number</span>
                        <span class="col-xs-8"><span class="colonSeparatorRight">:</span>
                        <a ng-href="tel:{{custReadList.phone}}">{{custReadList.phone}}</a>
                        </span>
        </div>
        <div class="row middleRowContent">
            <span class="itemLabel2 col-xs-4">Alternate contact number</span>
                        <span class="col-xs-8"><span class="colonSeparatorRight">:</span>
                        <a href="tel:{{custReadList.altphno}}">{{custReadList.altphno}}</a>
                        </span>
        </div>
        <div class="row middleRowContent">
            <span class="itemLabel2 col-xs-4">Email</span>
                        <span class="col-xs-8">
                            <span class="colonSeparatorRight">:</span>
                            <a ng-href="mailto:{{custReadList.email}}">{{custReadList.email}}</a>
                         </span>
        </div>
        <div class="row middleRowContent">
            <span class="itemLabel2 col-xs-4">Residential Address</span>
            <span class="col-xs-8"><span class="colonSeparatorRight">:</span>{{custReadList.address}}</span>
        </div>

        <div class="row middleRowContent">
            <span class="itemLabel2 col-xs-4">Location</span>
                        <span class="col-xs-8">
                        <span class="colonSeparatorRight">:</span>
                        {{custReadList.locality}}, {{custReadList.city}}, {{custReadList.state}}, {{custReadList.country}}</span>
        </div>

        <div class="row middleRowContent">
            <span class="itemLabel2 col-xs-4">Pincode</span>
            <span class="col-xs-8"><span class="colonSeparatorRight">:</span>{{custReadList.pincode}}</span>
        </div>

        <div class="row middleRowContent">
            <span class="itemLabel2 col-xs-4">Registered</span>
            <span class="col-xs-8"><span class="colonSeparatorRight">:</span>{{custReadList.registered === true ? "YES" : "NO"}}</span>
        </div>

        <div class="row middleRowContent">
            <span class="itemLabel2 col-xs-4">Verified</span>
            <span class="col-xs-8"><span class="colonSeparatorRight">:</span>{{custReadList.verified === true ? "YES" : "NO"}}</span>
        </div>

    </div> <!-- bodycontainer END -->

    <div class="row">
        <div class="col-xs-12" style="padding-left: 10px;padding-right: 10px;">
            <div class="headBar">
                <span>Wallet Details</span>
            </div>
            <div class="bodyContainer" style="padding: 0;">
                <form name="walletForm">
                    <div class="row middleRowContent">
                        <div class="itemLabel2 col-xs-4">
                            <label>Current Balance</label>
                        </div>
                        <div class="col-xs-8">
                            <span class="colonSeparatorRight">:</span>
                            <span ng-if="custReadList.custwallet.currency.toLowerCase() == 'inr'">&#8377; </span>{{custReadList.custwallet.walletbalance}}
                        </div>
                    </div>
                    <div class="row middleRowContent">
                        <div class="itemLabel2 col-xs-4">
                            <label>Transact</label>
                        </div>
                        <div class="col-xs-8">
                            <span class="colonSeparatorRight">:</span>
                            <input type="text" 
                                placeholder="amount" 
                                class="form-control" 
                                style="max-width: 200px;"
                                ng-model="custReadList.custwallet.amount"
                                ng-pattern="/^\d+(\.\d{1,2})?$/"
                                ng-required = "true" />
                        </div>
                    </div>
                    <div class="footerBar" style="padding: 5px 0 10px 15px; margin-bottom: 5px;">
                        <input type="button" 
                            class="btn btn-primary" 
                            value="Deposit"
                            ng-disabled="walletForm.$invalid || custReadList.custwallet.amount.startsWith('0')""
                            ng-click="onWalletTransact('credit')" />
                        <input type="button" 
                            class="btn btn-primary" 
                            value="Withdraw"
                            ng-disabled="walletForm.$invalid || custReadList.custwallet.amount.startsWith('0')"
                            ng-click="onWalletTransact('debit')" />

                        <span class="alert" 
                            ng-if="custReadList.custwallet.response"
                            ng-class="{'alert-success' : custReadList.custwallet.response.status == 'success', 'alert-danger' : custReadList.custwallet.response.status == 'error'}">
                            {{custReadList.custwallet.response.message}}
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- End of wallet details -->

    <div class="row">
        <div class="col-xs-12" style="padding-left: 10px;padding-right: 10px;">
            <div class="headBar">
                <span>Customer Appointment History </span>
                <span style="float : right">
                    <span title="Schedule new appointment"
                          class="clickable glyphicon glyphicon-plus"
                          style="margin-right:5px;"
                          ng-click="custFollowupAppt();"></span>
                </span>
            </div>
            <div class="bodyContainer" style="padding: 0">
                <div 1data-ng-if = "custAptHistory" class="appointmentsTable table-responsive">
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                        <tr>
                            <th ng-click="sort('starttime')">Date
                                <span class="glyphicon sort-icon" ng-show="sortKey=='starttime'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('refno')">Ref No
                                <span class="glyphicon sort-icon" ng-show="sortKey=='refno'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('zone')">Area
                                <span class="glyphicon sort-icon" ng-show="sortKey=='zone'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('spname')" nowrap>Service Provider
                                <span class="glyphicon sort-icon" ng-show="sortKey=='spname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('service')">Service
                                <span class="glyphicon sort-icon" ng-show="sortKey=='service'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('state')">State
                                <span class="glyphicon sort-icon" ng-show="sortKey=='state'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('rating')">Rating
                                <span class="glyphicon sort-icon" ng-show="sortKey=='rating'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('payment')">Payment
                                <span class="glyphicon sort-icon" ng-show="sortKey=='payment'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('gender')" style="display:none;">Gender
                                <span class="glyphicon sort-icon" ng-show="sortKey=='gender'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-click="sort('service')" style="display:none;">Service
                                <span class="glyphicon sort-icon" ng-show="sortKey=='service'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="apt in custAptHistory|orderBy:sortKey:reverse|filter:searchCustAptHistory|itemsPerPage:10"
                            pagination-id="custAptHistoryId">
                            <td>{{apt.starttime * 1000 | date:'yyyy-MM-dd hh:mm a'}}</td>
                            <td>
                                            <span 1ng-if="apt.state != 'Cancelled' && apt.state != 'Completed'">
                                                <code><a href="#" ng-click="editAppointment(apt)" title="Show Appointment Details">{{apt.refno}}</a></code>
                                            </span>
                            </td>
                            <td>{{apt.zone}}</td>
                            <td>{{apt.spname}}</td>
                            <td>{{apt.service}}</td>
                            <td>{{apt.state}}</td>
                            <td nowrap>
                                <div data-ng-if = "apt.rating">
                                    <span ng-class="apt.rating >= 1 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
                                    <span ng-class="apt.rating >= 2 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
                                    <span ng-class="apt.rating >= 3 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
                                    <span ng-class="apt.rating >= 4 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
                                    <span ng-class="apt.rating >= 5 ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"></span>
                                </div>
                                <div data-ng-if = "!apt.rating">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
                                </div>

                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{apt.amnt}}</td>
                            <td style="display:none;">{{apt.gender}}</td>
                            <td style="display:none;">{{apt.service}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls
                        max-size="5"
                        pagination-id="custAptHistoryId"
                        direction-links="true"
                        boundary-links="true" >
                    </dir-pagination-controls>
                </div>
                <div style = "color: green; margin-top: 10px;" data-ng-if = "!aptErrorMsg && !custAptHistory">
                    No appointments scheduled.
                </div>
                <div style = "color: red; margin-top: 10px;" data-ng-if = "aptErrorMsg">
                    {{aptErrorMsg}}
                </div>
            </div>
        </div>
    </div>

</div>