<div style="padding:10px;">
    <form name="spNewAppointmentForm.spFormForCust" data-ng-init="resetPromoCodeFollowUp(); getSps();" novalidate>
        <div style="padding: 10px;" data-ng-show="showDatepicker">
            <div style="padding-bottom: 10px;" class="row-align">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <label>Physiotherapist Name</label></div>
                    <div class="col-sm-9 col-xs-12">
                        <span class="colonSeparatorRight hidden-xs">:</span>
                        <select ng-model="spNewAppointment.spNames"
                                name="spNames"
                                class="input-width clstxt2 form-control"
                                id = "spNamesListId"
                                data-ng-class = "{red3: spNewAppointmentForm.spFormForCust.spNames.$invalid && spNewAppointmentForm.spFormForCust.spNames.$dirty, green3: spNewAppointmentForm.spFormForCust.spNames.$valid && spNewAppointmentForm.spFormForCust.spNames.$dirty}"
                                title = "Select service provider"
                                data-ng-change="setChangedSpId(); onPhysioChange();"
                                ng-options="sp._id as sp.name for sp in spNamesArr"
                                data-ng-required = "true">
                            <option value="">Select service provider</option>
                        </select>
                        <span style="color:red" data-ng-show="spNewAppointmentForm.spFormForCust.spNames.$dirty && spNewAppointmentForm.spFormForCust.spNames.$invalid">
                            <span data-ng-show="spNewAppointmentForm.spFormForCust.spNames.$error.required">Service provider is required.</span>
                        </span>
                    </div>
                </div>
            </div>

            <div id="divSP" style="min-height: 275px; position:relative;" class="row">
                <div class="col-xs-12 col-sm-5 followup-appt-time-slot">
                    <table border="0" width="100%">
                        <tr>
                            <th colspan="2">Select Appointment Time Slot</th>
                        </tr>
                        <tr><td colspan="2">&nbsp;</td></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td>
                                <div style="display:inline-block;">
                                    <datepicker id="datetimepicker3" 
                                        date-disabled="disabled(date, mode)" 
                                        ng-change="callSpInfo(obj.followupSpid); spNewAppointment.aptstarttime = '';" 
                                        ng-model="obj.dt" 
                                        min-date="minDate" 
                                        max-date="maxDate" 
                                        show-weeks="false" 
                                        class="well well-sm" 
                                        custom-class="getDayClass(date, mode)">
                                    </datepicker>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="color:#ff0000;" ng-show="wtUndefined" ng-model="wtUndefined">{{wtUndefinedErrorMsg}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div ng-show="spInfo" id="spInfo">
                                    <table width="100%">
                                        <tr>
                                            <td class="clswidth1" align="left" style="vertical-align:top">
                                                Date : <em style="font-weight:bold">{{obj.dt | date:'fullDate' }}</em>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td  align="right">
                                                <div id="workingTime" style="padding-left:3px">
                                                    <table width="100%">
                                                        <tr>
                                                            <td width="11%" style="">
                                                                <ul style="width:22%;">
                                                                    <li style="white-space: nowrap;line-height: 24px;"
                                                                        ng-repeat="aptstarttime in aptStartTime track by $index">
                                                                        <input type="radio"
                                                                           ng-model="spNewAppointment.aptstarttime"
                                                                           name="group1" value="{{aptstarttime}}">
                                                                    </li>
                                                                </ul>

                                                                <ul style="width:78%;" id="ulst">
                                                                    <li style="white-space: nowrap;line-height: 24px;"
                                                                        ng-repeat="aptslot in aptSlotTimeFrom track by $index">
                                                                        <span>{{aptslot}}</span>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                            <td width="44%">&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="hidden-xs col-sm-2">
                    <div class="text-center" style="height: 350px; padding-top: 120px;">
                        <button type="button" 
                            title="Add Selected Time Slot" 
                            class="btn btn-default btn-sm" 
                            style="margin: 10px;" 
                            ng-click="addTimeSlot()"
                            ng-disabled="!obj.dt || !spNewAppointment.aptstarttime || !spInfo">
                            <i class="glyphicon glyphicon-arrow-right"></i>
                        </button>
                        <br>
                        <button type="button" 
                            title="Remove Selected Time Slot" 
                            style="margin: 10px;" 
                            class="btn btn-default btn-sm" 
                            ng-click="removeTimeSlot()"
                            ng-disabled="!spNewAppointment.selectedSlot">
                            <i class="glyphicon glyphicon-arrow-left"></i>
                        </button>
                    </div>
                </div>
                <div class="hidden-sm hidden-md hidden-lg col-xs-12">
                    <div style="text-align: center;">
                        <button type="button" 
                            title="Add Selected Time Slot" 
                            class="btn btn-default btn-sm" 
                            style="margin: 10px;" 
                            ng-click="addTimeSlot()"
                            ng-disabled="!obj.dt || !spNewAppointment.aptstarttime || !spInfo">
                            <i class="glyphicon glyphicon-arrow-down"></i>
                        </button>
                        <button type="button" 
                            title="Remove Selected Time Slot" 
                            class="btn btn-default btn-sm" 
                            style="margin: 10px;" 
                            ng-click="removeTimeSlot()"
                            ng-disabled="!spNewAppointment.selectedSlot">
                            <i class="glyphicon glyphicon-arrow-up"></i>
                        </button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 followup-appt-time-slot" style="min-height: 350px;">
                    <div>                        
                        <label>Selected Appointment Time Slots</label>
                        <div>
                            <ul class="hover" style="max-height: 340px; overflow: auto;">
                                <li style="padding: 5px;"
                                    ng-repeat="slot in spNewAppointment.selectedTimeSlots"
                                    ng-click="spNewAppointment.selectedSlotIndex = $index; spNewAppointment.selectedSlot = slot"
                                    ng-class="{'btn-primary': spNewAppointment.selectedSlotIndex == $index}">
                                    {{$index + 1}}.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{slot}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="padding: 10px;" data-ng-show="showAddressComments">
            <div style="min-height: 275px;">
                <div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-3 col-xs-12">
                            <label>Appointment Address</label></div>
                        <div class="col-sm-9 col-xs-12">
                            <span class="colonSeparatorRight hidden-xs">:</span>
                                <textarea
                                    maxlength="150"
                                    class="form-control"
                                    ng-trim="false"
                                    rows="4"
                                    name="patientAppointmentAddress"
                                    data-ng-model="spNewAppointment.appointmentAddress"
                                    data-ng-class="{red3: spNewAppointmentForm.spFormForCust.patientAppointmentAddress.$invalid && spNewAppointmentForm.spFormForCust.patientAppointmentAddress.$dirty, green3: spNewAppointmentForm.spFormForCust.patientAppointmentAddress.$valid && spNewAppointmentForm.spFormForCust.patientAppointmentAddress.$dirty}"
                                    title="Enter Appointment Address"
                                    placeholder="Enter Appointment Address"
                                    data-ng-required="true"
                                    style="max-width: 550px">
                                </textarea>
                            <span>{{150 - spNewAppointment.appointmentAddress.length}} characters left</span>
                            <span style="color:red" data-ng-show="spNewAppointmentForm.spFormForCust.patientAppointmentAddress.$dirty && spNewAppointmentForm.spFormForCust.patientAppointmentAddress.$invalid">
                                <span data-ng-show="spNewAppointmentForm.spFormForCust.patientAppointmentAddress.$error.required">&nbsp;&nbsp;&nbsp;&nbsp; Appointment Address is required.</span>
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-3 col-xs-12">
                            <label>Customer Comment</label>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <span class="colonSeparatorRight hidden-xs">:</span>
                                <textarea
                                    maxlength="50"
                                    class="form-control"
                                    ng-trim="false"
                                    rows="3"
                                    name="patientComment"
                                    data-ng-model="spNewAppointment.comment"
                                    data-ng-class="{red3: spNewAppointmentForm.spFormForCust.patientComment.$invalid && spNewAppointmentForm.spFormForCust.patientComment.$dirty, green3: spNewAppointmentForm.spFormForCust.patientComment.$valid && spNewAppointmentForm.spFormForCust.patientComment.$dirty}"
                                    title="Enter customer comment"
                                    placeholder="Enter customer comment"
                                    data-ng-required="false"
                                    style="max-width: 550px">
                                </textarea>
                                <span>{{50 - spNewAppointment.comment.length}} characters left</span>
                                <span style="color:red" data-ng-show="spNewAppointmentForm.spFormForCust.patientComment.$dirty && spNewAppointmentForm.spFormForCust.patientComment.$invalid">
                                    <span data-ng-show="spNewAppointmentForm.spFormForCust.patientComment.$error.required">&nbsp;&nbsp;&nbsp;&nbsp; Comment is required.</span>
                                </span>
                            <div id="errormsg" style="color:red;"></div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-3 col-xs-12">
                            <label>Appointment Charges</label>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <span class="colonSeparatorRight hidden-xs">:</span>
                            {{currFollowUp}}
                            {{costFollowUp * spNewAppointment.selectedTimeSlots.length}} 
                        </div>
                    </div>
                     <!--   <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-3 col-xs-12">
                            <label>Additional Charges Per Appointment</label>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                           <span class="colonSeparatorRight hidden-xs">:</span>
                           
                            
                             <input class="input-width clstxt2 form-control" style="width:308px; display: inline;" type="number" name="addcharges" data-ng-model="spNewAppointment.addcharges" data-ng-blur="visitedAddcharges=true" title="Enter additional charges" placeholder="Enter additional charges" data-ng-required="false" max="500" data-ng-class="{red1: spNewAppointmentForm.spFormForCust.addcharges.$invalid && spNewAppointmentForm.spFormForCust.addcharges.$dirty && visitedAddcharges}"/> 
                            
                        </div>
                    </div>
                    
                      <div class="row" style="margin-bottom: 10px;">
                        <span class="col-sm-3 col-xs-12">
                        </span>
                        <span class="col-sm-9 col-xs-12">
                            <span style = "color:red" data-ng-show = "spNewAppointmentForm.spFormForCust.addcharges.$dirty && spNewAppointmentForm.spFormForCust.addcharges.$invalid && visitedAddcharges">
							 Additional charges can not  exceed 500.
                            </span>
                         
                        </span>
                    </div>
                    
                    
                        <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-3 col-xs-12">
                            <label>Additional Charges Description</label>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                           <span class="colonSeparatorRight hidden-xs">:</span>
                           
                            
                            <input class="input-width clstxt2 form-control" style="width:308px; display: inline;" type="text" name="addchargedesc" data-ng-model="spNewAppointment.addchargedesc"  title="Enter additional charges description" placeholder="Enter additional charges description" data-ng-required="false" > 
                               
                            
                        </div>
                    </div>
                  <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-3 col-xs-12">
                            <label> Promocode </label>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <span class="colonSeparatorRight hidden-xs">:</span>
                            <input class="input-width clstxt2 form-control"
                                style="width:308px; display: inline;"
                                type="text"
                                name="promocode"
                                data-ng-model = "spNewAppointment.promocode"
                                data-ng-class = "{red1: spNewAppointmentForm.spFormForCust.promocode.$invalid && spNewAppointmentForm.spFormForCust.promocode.$dirty && visitedFollowUpPromocode}"
                                title = "Enter promotional code"
                                placeholder = "Enter promotional code (optional)"
                                data-ng-blur = "visitedFollowUpPromocode = true"
                                data-ng-focus = "visitedFollowUpPromocode = false"
                                data-ng-required = "false"
                            />
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-primary" 
                                ng-click="applyPromocodeFollowUpAppt();" 
                                ng-disabled="!(spNewAppointment.promocode) || spNewAppointment.selectedTimeSlots.length == 0"> Apply </button>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <span class="col-sm-3 col-xs-12">
                        </span>
                        <span class="col-sm-9 col-xs-12">
                            <span style = "color:red" data-ng-show = "spNewAppointmentForm.spFormForCust.promocode.$dirty && spNewAppointmentForm.spFormForCust.promocode.$invalid && visitedFollowUpPromocode">
									<span data-ng-show = "spNewAppointmentForm.spFormForCust.promocode.$error.pattern"> Invalid promocode. </span>
                            </span>
                            <span style = "color:green" data-ng-show = "promoSuccessFollowUp">
                                {{promoSuccessFollowUp}}
                            </span>
                            <span style = "color:red" data-ng-show = "promoErrorFollowUp">
                                {{promoErrorFollowUp}}
                            </span>
                        </span>
                    </div> -->
                </div>
            </div>
            <div>
                <button class="pull-right btn btn-primary" type="submit" ng-disabled="(!(spNewAppointment.appointmentAddress) || spNewAppointment.selectedTimeSlots.length == 0 || spNewAppointmentForm.spFormForCust.addcharges.$invalid)" ng-click="spApptForCustSubmit();"> Confirm </button>
            </div>
        </div>

        <div ng-show="spNewApptForCustErrorMsg" id="spNewApptForCustErrorMsg">
            <div ng-model="spNewApptForCustErrorMsg"
                 class="alert alert-danger"
                 style="display: inline-block"> {{spNewApptForCustErrorMsg}}
            </div>
        </div>

        <div ng-show="frm.submit" id="aptConfirmMsg">
            <div ng-model="frm.submit"
                 class="alert alert-success"
                 style="display: inline-block">{{frm.submit}}</div>
        </div>
    </form>
</div>