<div class="session-timeout-container" ng-if="sessionFlag.adminSessionTimeoutFlag">
    <div class="session-timeout-message">Either session expired or invalid session.
    </div>
</div>

<div class="mainContent2" ng-controller="AdminCtrl">
    <div class="container1">
        <div data-ng-if="!userTabsFlg" style="padding:10px;">
            <div>
                <div>
                    <input type="button"
                           data-ng-click="homeLogin('divTwo')"
                           class="btn btn-primary"
                           value="Sign In" />
                    <span class="btn">
                        <a href="#">Register</a>
                    </span>
                </div>

                <div class="alert alert-success" data-ng-if="adminLogoutSuccess">
                    {{adminLogoutSuccess}}
                </div>
                <div class="alert alert-danger" data-ng-if="adminLogoutError">
                    {{adminLogoutError}}
                </div>
            </div>

            <div data-ng-show="divTwo" class="row row-content">
                <div class="col-xs-12">
                        <h3>Enter your credentials</h3>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <form class="form-horizontal" role="form" name="signInForm1.adminSignInForm" data-ng-init="adminSignIn.uname=''; adminSignIn.password=''" data-ng-submit="signInForm1.adminSignInForm.$valid && adminSignInFormSubmit()" novalidate>
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-3 control-label" style="text-align: left">Email Address</label>
                            <div class="col-sm-8 col-lg-6">
                                <input class="form-control" type = "text"
                                    name = "patientUserName"
                                    data-ng-model = "adminSignIn.uname"
                                    data-ng-pattern = "/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
                                    data-ng-class = "{red1: signInForm1.adminSignInForm.patientUserName.$invalid && signInForm1.adminSignInForm.patientUserName.$dirty && visitedAdminUName}"
                                    title = "Enter email address here"
                                    placeholder = "Enter email address"
                                    maxlength="40"
                                    data-ng-blur = "visitedAdminUName = true"
                                    data-ng-focus = "visitedAdminUName = false"
                                    data-ng-required = "true"
                                    />
                                <div class="alert alert-danger" data-ng-show = "signInForm1.adminSignInForm.patientUserName.$dirty && signInForm1.adminSignInForm.patientUserName.$invalid && visitedAdminUName">
                                    <span data-ng-show = "signInForm1.adminSignInForm.patientUserName.$error.required"> Email address is required. </span>
                                    <span data-ng-show = "signInForm1.adminSignInForm.patientUserName.$error.pattern"> Invalid email address. </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 col-lg-3 control-label" style="text-align: left">Password</label>
                            <div class="col-sm-8 col-lg-6">
                                <input class="form-control" type="password"
                                    name="patientPassword"
                                    data-ng-model="adminSignIn.password"
                                    data-ng-class="{red1: signInForm1.adminSignInForm.patientPassword.$invalid && signInForm1.adminSignInForm.patientPassword.$dirty}"
                                    title="Enter the password here"
                                    value="{{adminSignIn.password}}"
                                    placeholder="Enter password"
                                    data-ng-required="true"/>
                                <div class="alert alert-danger" data-ng-show="signInForm1.adminSignInForm.patientPassword.$dirty && signInForm1.adminSignInForm.patientPassword.$invalid">
                                    <span data-ng-show = "signInForm1.adminSignInForm.patientPassword.$error.required"> Password is required. </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-4 col-lg-offset-3">
                                <button class="btn btn-primary" type="submit" data-ng-disabled="signInForm1.adminSignInForm.$invalid"> Sign In </button> &nbsp;&nbsp;
                                <button class="btn btn-default" type="button" data-ng-disabled="!signInForm1.adminSignInForm.$dirty" data-ng-click="adminSignInFormReset()"> Clear </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-4 col-lg-offset-3">
                                <a href="#" style="text-decoration:none;">Forgot Password</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-4 col-lg-offset-3">
                                <span ng-show = "adminSignIn.errorResult">
                                    <span class="alert alert-danger" ng-model = "adminSignIn.errorResult">{{adminSignIn.errorResult}}</span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div data-ng-if="userTabsFlg" style="padding:10px;">
            <div class="headBar">
                <span>Appointments distribution for Today ({{dashboard.today | date : "d MMM yyyy"}})</span>
                <div class="pull-right">
                    <span class="glyphicon glyphicon-refresh clickable"
                        ng-click="setupDashboard()"></span>
                </div>
            </div>
            <div class="bodyContainer table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td>Total appointments scheduled for Today: </td>
                        <td><span>{{dashboard.appointments.total}}</span></td>
                    </tr>
                    <tr>
                        <td>Appointments Booked Today: </td>
                        <td>{{dashboard.appointments.booked}}</td>
                    </tr>
                    <tr>
                        <td>Appointments Cancelled Today: </td>
                        <td>{{dashboard.appointments.cancelled}}</td>
                    </tr>
                    <tr>
                        <td>Appointments Rescheduled Today: </td>
                        <td>{{dashboard.appointments.rescheduled}}</td>
                    </tr>
                    <tr>
                        <td>Total unhandled Call-Me list: </td>
                        <td>{{dashboard.unhandledCallMeList}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
