<!-- Header -->
<div class = "container-fluid">
	<div class="container header-container">
		<div ng-include = "'./CustPortal/home_partials/custPortal_header.html'"></div>
	</div>
</div>

<div class="container-fluid inner-page-contactus-banner-image">
</div>
<div class="container">
	<div class="contactus-heading inner-page-banner-heading">
		<h1>About HealYos - Your doorstep physio experts</h1>
	</div>
</div>

<div class="container">
	<div class="workwithus-main-container">
		<div class="workwithus-main-content">
			<div class="workwithus-section1-content">
				<div class="workwithus-heading"><h2>What is HealYos</h2></div>
				<div class="workwithus-text">
					<p>HealYos is a mobile enabled Physiotherapy and Fitness startup with a team of highly qualified, vetted and trained therapists. Our therapists are available to you at the push of a button and will come to your home or office at your convenience, a far better alternative to looking for parking and waiting for hours in a clinic.</p>
				</div>
			</div>
			<div class="workwithus-section2-content">
				<div class="workwithus-heading"><h2>Our Story</h2></div>
				<div class="workwithus-text">
					<p>Like many people of our generation we suffered from back pain, knee problems and other such lifestyle related injuries but neglected them since great service was never convenient. We started building this service for our friends and family because, we believe that, like you, they deserve the best. Our founders Salil Bhargava and Shweta Mani combined their expertise and passion to create mobile enabled expert healing services that simplify the experience and deliver the best possible care to you.</p>
					<p>On this journey, we’re backed by Sancheti Institute, South Asia’s leading Orthopaedic Institution and Healthcare Academy.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Ready to book -->
<div class = "container-fluid ready-to-book-image">
	<div class="container">
		
		<!--<div ng-include = "'./CustPortal/other_pages/innerPage_ready_to_book.html'"></div>-->
		<!--<div ng-include = "'./CustPortal/home_partials/custPortal_ready_to_book.html'"></div>-->

		<div class="ready-to-book-content booknow-container  ready-to-book-top">	
			<div class="ready-to-book-heading">Ready to book</div>
			<div class="ready-to-book-booknow-section">
				<!--<div ng-include = "'./CustPortal/home_partials/custPortal_booknow_footer.html'" class="booknow-container"></div> -->


				<div class="booknow-outer">
					<!--<span class="locations-section">
					
				         <select class="ac-select stateList"
				            id="lCombo"
				            ac-model="innerPageCtrl.model.selectedLocation"
				            ac-refresh = cpc.acRefresh
				            acute-options="locationArray"
				            ac-options="l.val for l in cpc.getAllLocations()"  
				            ac-settings="{ allowClear: true, maxWidth: '250px', itemsInView: 20, loadOnCreate: false, comboMode: false, loadOnOpen: true, minWidth: '250px', height: '23px' }"         
				            ac-change="innerPageCtrl.method.locationSelected(value)"
				            ac-key="pin">
				        </select>
				    </span>
					<span class="date-section">
				        <div class='input-group date dt'>
				            <input type="text" id = "dt3"
				            name = "fromDate"
				            date-disabled="cpc.disabled(date, mode)"
				            title="From Date" 
				            class="callmeField2 datetimepicker2 form-control"
				            placeholder="Pick a Date"
				           />
				            <span class="input-group-addon">
				                <label for="dt3">
				                    <img src="./images/customer_portal/down_arrow.png" />
				                </label>                
				            </span>
				        </div>
				    </span>
				    <span class="timeslot-section">
				        <select ng-model="innerPageCtrl.model.timeslot" ng-options = "time.starttime for time in innerPageCtrl.model.timeslotArray">
				            <option value="">Select Time</option>
				        </select>
				    </span>-->

					<span class="book-now-button" ng-click="innerPageCtrl.method.redirectToBooking1()" style="margin-left: 340px;">BOOK MY SESSION</span>
				</div>


				</div>
				<div class="ready-to-book-booknow-mobile">
					<button type="button">START HERE</button>
				</div>
				<div class="ready-to-book-contact-section">
					<span class="ready-to-book-contact-subsection1">
						<img src="./images/customer_portal/Icon_call_white.png">
						<a href="tel:9370588888"><span class="ready-to-book-phonenumber">9370588888</span></a>
					</span>
					<div class="footer-booknow home-redirecting-buttons">
						<a ui-sref="home"> <button type="button">BOOK NOW</button> </a>
					</div>
					<span class="ready-to-book-contact-subsection2">
						<span class="dash"></span>
						<span class="or">or</span>
						<span class="dash"></span>
					</span>			
					<span class="ready-to-book-contact-subsection3">
						<img src="./images/customer_portal/Icon_callback_white.png">
						<span class="ready-to-book-callback">REQUEST A CALL BACK</span>
					</span>
				</div>
		</div>

	</div>
</div>

<!-- Footer -->
<div class = "container-fluid home-footer">
	<div class="container">
		<footer>
            <div ng-include = "'./CustPortal/home_partials/custPortal_footer.html'"></div>
        </footer>
	</div>
</div>
<script type="text/javascript">
	// ViewContent
	// Track key page views (ex: product page, landing page or article)
	try {
		fbq('track', 'ViewContent');
	} catch(err) {}
	
	$( document ).ready(function() {
	    document.title = "About HealYos - Your online doorstep physiotherapy service expert";
	    document.querySelector('meta[name="description"]').setAttribute("content", "HealYos is a Physiotherapy and Fitness startup with a team of highly qualified and trained physiotherapists. Skip the queue at clinic and book physiotherapists online.");
	    document.querySelector('meta[name="keywords"]').setAttribute("content", "About HealYos, HealYos Mission, About online physiotherapy, About physiotherapy service by Healyos, HealYos Physiotherapy, HealYos Physio"); 
	});
</script>