<!-- Header -->
<div class = "container-fluid">
	<div class="container header-container">
		<div ng-include = "'./CustPortal/home_partials/custPortal_header.html'"></div>
	</div>
</div>

<div class="container-fluid inner-page-contactus-banner-image">
</div>
<div class="container">
	<div class="contactus-heading inner-page-banner-heading">
		<h1>Contact HealYos</h1>
	</div>
</div>

<div class="container">
	<div class="contactus-main-container">
		<div class="contactus-section">
			<div class="contactus-section-heading"><p>Healyos Inc.</p></div>
			<div class="contactus-section-address"><p>A-29, Gate 1, Abhimanshree Society, Pashan Road, Pune<p></div>
		</div>
		<div class="contactus-section">
			<div class="contactus-section-heading"><p>Phone (24x7)</p></div>
			<div class="contactus-section-phone"><p>9370588888</p></div>
		</div>
		<div class="contactus-section">
			<div class="contactus-section-heading"><p>Office Hours</p></div>
			<div class="contactus-section-office-hrs">
				<p>Mon - Fri: 9am - 6pm</p>
				<p>Sat - Sun: 9am - 6pm</p>
			</div>
		</div>
		<div class="contactus-section">
			<div class="contactus-section-heading"><p>For Press Inquiries</p></div>
			<div class="contactus-section-email"><p><a href="mailto:press@healyos.com">press@healyos.com</a></p></div>
		</div>
		<div class="contactus-section">
			<div class="contactus-section-heading"><p>To get Healyos at your workplace</p></div>
			<div class="contactus-section-email"><p><a href="mailto:healyosatwork@healyos.com">healyosatwork@healyos.com</a></p></div>
		</div>
		<div class="contactus-section">
			<div class="contactus-section-heading"><p>Advertising or marketing-related inquiries</p></div>
			<div class="contactus-section-email"><p><a href="mailto:marketing@healyos.com">marketing@healyos.com</a></p></div>
		</div>
		<div class="contactus-section">
			<div class="contactus-section-heading"><p>Work with us</p></div>
			<div class="contactus-section-email"><p><a href="mailto:hr@healyos.com">hr@healyos.com</a></p></div>
		</div>
		<div class="contactus-section">
			<div class="contactus-section-heading"><p>Any other comments</p></div>
			<div class="contactus-section-comment">
				<textarea ng-model="innerPageCtrl.model.comments" name="comments"></textarea>
			</div>
		</div>
		<div class="contactus-section">
			<div class="home-redirecting-buttons contactus-submit">
				<button type="button">Submit</button>
			</div>
		</div>
	</div>
</div>
<!-- Ready to book -->
<div class = "container-fluid ready-to-book-image">
	<div class="container">
		
		<!--<div ng-include = "'./CustPortal/other_pages/innerPage_ready_to_book.html'"></div>-->
		<!--<div ng-include = "'./CustPortal/home_partials/custPortal_ready_to_book.html'"></div>-->

		<div class="ready-to-book-content booknow-container  ready-to-book-top">	
			<div class="ready-to-book-heading">Ready to book</div>
			<div class="ready-to-book-booknow-section">
				<!--<div ng-include = "'./CustPortal/home_partials/custPortal_booknow_footer.html'" class="booknow-container"></div> -->


				<div class="booknow-outer">
					<!--<span class="locations-section">
					 	<select class="ac-select stateList"
				            id="lCombo"
				            ac-model="innerPageCtrl.model.selectedLocation"
				            ac-refresh = cpc.acRefresh
				            acute-options="locationArray"
				            ac-options="l.val for l in cpc.getAllLocations()"  
				            ac-settings="{ allowClear: true, maxWidth: '250px', itemsInView: 20, loadOnCreate: false, comboMode: false, loadOnOpen: true, minWidth: '250px', height: '23px' }"         
				            ac-change="innerPageCtrl.method.locationSelected(value)"
				            ac-key="pin">
				        </select>
				    </span>
					<span class="date-section">
				        <div class='input-group date dt'>
				            <input type="text" id = "dt3"
				            name = "fromDate"
				            date-disabled="cpc.disabled(date, mode)"
				            title="From Date" 
				            class="callmeField2 datetimepicker2 form-control"
				            placeholder="Pick a Date"
				           />
				            <span class="input-group-addon">
				                <label for="dt3">
				                    <img src="./images/customer_portal/down_arrow.png" />
				                </label>                
				            </span>
				        </div>
				    </span>
				    <span class="timeslot-section">
				        <select ng-model="innerPageCtrl.model.timeslot" ng-options = "time.starttime for time in innerPageCtrl.model.timeslotArray">
				            <option value="">Select Time</option>
				        </select>
				    </span>-->

					<span class="book-now-button" ng-click="innerPageCtrl.method.redirectToBooking1()" style="margin-left: 340px;">BOOK MY SESSION</span>
				</div>


				</div>
				<div class="ready-to-book-booknow-mobile">
					<button type="button">START HERE</button>
				</div>
				<div class="ready-to-book-contact-section">
					<span class="ready-to-book-contact-subsection1">
						<img src="./images/customer_portal/Icon_call_white.png">
						<a href="tel:9370588888"><span class="ready-to-book-phonenumber">9370588888</span></a>
					</span>
					<div class="footer-booknow home-redirecting-buttons">
						<a ui-sref="home"> <button type="button">BOOK NOW</button> </a>
					</div>
					<span class="ready-to-book-contact-subsection2">
						<span class="dash"></span>
						<span class="or">or</span>
						<span class="dash"></span>
					</span>			
					<span class="ready-to-book-contact-subsection3">
						<img src="./images/customer_portal/Icon_callback_white.png">
						<span class="ready-to-book-callback">REQUEST A CALL BACK</span>
					</span>
				</div>
		</div>

	</div>
</div>

<!-- Footer -->
<div class = "container-fluid home-footer">
	<div class="container">
		<footer>
            <div ng-include = "'./CustPortal/home_partials/custPortal_footer.html'"></div>
        </footer>
	</div>
</div>
<script type="text/javascript">
	// ViewContent
	// Track key page views (ex: product page, landing page or article)
	try {
		fbq('track', 'ViewContent');
	} catch(err) {}
	$( document ).ready(function() {
	    document.title = "Are you a physiotherapist? Connect with HealYos to start your  career";
	    document.querySelector('meta[name="description"]').setAttribute("content", "Contact HealYos for any queries or concerns. Are you a physiotherapist? Start working with HealYos to experience an amazing career shift in doorstep physiotherapy services.");
	    document.querySelector('meta[name="keywords"]').setAttribute("content", "Become a physiotherapy, Physiotherapists near you, Work as a Physiotherapist"); 
	});
</script>