<div class="container-fluid inner-page-contactus-banner-image">
</div>
<div class="container">
	<div class="contactus-heading inner-page-banner-heading">
		Frequently Asked Questions
	</div>
</div>
<div class="container">
	<div class="inner-page-faq-container">
		<div class="inner-page-faq-content">
			<div class="accordion1_container">
				<div>
					<div class="accordion1_head" ng-click="innerPageCtrl.method.toggleFaq($event)">
						<span class="plusminus1">+</span>
						<span class="accordian1-title">Do I need a doctor's referral to see a Physiotherapist?</span>
					</div>
					<div class="accordion1_body" style="display: none;"> 
						<p>You don't require a referral to see a Physiotherapist. HealYos Physiotherapists undergo intensive training, as per current international best practice, so that we have the necessary skills to examine, diagnose, treat and advise our patients with no previous input, or referral from a doctor.</p>
						<p>If, upon examination, your condition needs the intervention of another medical practioner, we will inform you accordingly.</p>
						<p>In case, your doctor has recommended Physiotherapy to you, we can work closely with your doctor, to optimise your care.</p>
					</div>
				</div>
				
				<div>
					<div class="accordion1_head" ng-click="innerPageCtrl.method.toggleFaq($event)">
						<span class="plusminus1">+</span>
						<span class="accordian1-title">How will Physiotherapy help me?</span>
					</div>
					<div class="accordion1_body" style="display: none;"> 
						<p>Do any of the following apply to you?</p>
						<ul>
							<li>You are suffering from pain in your neck, back, knee, shoulder, ankle or some other joint, muscle or ligament.</li>
							<li>The pain is chronic, or has come about recently. It is a result of an injury, your lifestyle or an age related degenerative condition.</li>
							<li>You recently had an orthopedic surgery.</li>
							</ul>
						<p>If any of the above describe your condition, you might benefit from Physiotherapy. To know more about what Physiotherapy is, <a ng-click="cpc.faqScrolltodiv('physiotherapy')">click here</a>
						</p> 
					</div>
				</div>

				<div>
					<div class="accordion1_head" ng-click="innerPageCtrl.method.toggleFaq($event)">
						<span class="plusminus1">+</span>
						<span class="accordian1-title">How much will each Physiotherapy session cost?</span>
					</div>
					<div class="accordion1_body" style="display: none;"> 
						<p>Each Physiotherapy session is currently priced at Rs. 499. You might be eligible for a special price, if you have received a promo code or you have a condition that requires you to have more than <u>10 sessions</u> or <u>30 sessions</u>. Please call our Customer Care at <a href="tel:020-65802802">020-65802802</a> to know more about these long term Physiotherapy packages.</p>
					</div>
				</div>

				<div>
					<div class="accordion1_head" ng-click="innerPageCtrl.method.toggleFaq($event)">
						<span class="plusminus1">+</span>
						<span class="accordian1-title">What will be the time taken for each Physiotherapy session?</span>
					</div>

					<div class="accordion1_body" style="display: none;">
						<p>The initial assessment session, usually lasts between 45 mins to an hour. Thereafter, depending on the treatment regimen decided by your Physio, treatment sessions will be for a minimum of 30 minutes, but usually average between 40 to 50 minutes.<p>
					</div>
				</div>
				<div id="physiotherapy"></div>
				<div>
					<div class="accordion1_head" ng-click="innerPageCtrl.method.toggleFaq($event)">
						<span class="plusminus1">+</span>
						<span class="accordian1-title">Can I choose my Physiotherapist?</span>
					</div>
					<div class="accordion1_body" style="display: none;"> 
						<p>All our Physiotherapists are handpicked after an intense screening process and trained rigorously. For your initial assessment visit, we assign a qualified Physio expert to you. Based on the assessment of your condition, we match your treatment requirement with an appropriate Physiotherapist, who might sometimes be the same person as your assessment Physiotherapist.</p>
					</div>
				</div>

				<div>
					<div class="accordion1_head" ng-click="innerPageCtrl.method.toggleFaq($event)">
						<span class="plusminus1">+</span>
						<span class="accordian1-title">What is Physiotherapy? Who are Physiotherapists?</span>
					</div>
					<div class="accordion1_body" style="display: none;"> 
						<p>Physiotherapy is a <strong>medical discipline</strong>. In India, Physiotherapists take the common entrance tests just like specialists in other medical fields, and then undergo <u><strong>4.5 years of education to get their Bachelors degree</strong></u>, the BPT (Bachelor’s in Physiotherapy). A Masters in Physiotherapy ( MPT) degree can last between 1-3 years. <i>Physiotherapists are experts in human movement and function, with deep understanding of the structure and working of the human body</i>. They use a variety of techniques e.g. Manual Therapy, Exercise Therapy, Dry Needling etc, to assist their patients. They work collaboratively with patients, to free them of pain, and to conquer specific problems, with physical motion, that hinder normal daily activity and reduce overall quality of life. (Adapted from definitions by the Australian Physiotherapy Association and the World Confederation for Physical Therapy).</p>
					</div>
				</div>

				<div>
					<div class="accordion1_head" ng-click="innerPageCtrl.method.toggleFaq($event)">
						<span class="plusminus1">+</span>
						<span class="accordian1-title">How is Physiotherapy different from massage?</span>
					</div>
					<div class="accordion1_body" style="display: none;"> 
						<p>Physiotherapy is not massage. A massage training course lasts between a few weeks to six months. A BPT Physiotherapist trains for 4.5 years. A Masters in Physiotherapy trains for 6-7 years to receive their university recognised degrees. Physiotherapy is a medical requirement for rectifying underlying problems whereas Massage is primarily used for relaxation and rejuvenation. Physiotherapists use a variety of techniques to diagnose, assess and treat their patients. They address these concerns primarily through corrective exercises. In addition they may use electrotherapeutic modalities e.g. Ultrasound, Interferential Therapy (IFT). Several Physiotherapists also, undergo specialist training such as Mulligans Manual Therapy, Maitland Manual Therapy, Taping, etc.</p>
					</div>
				</div>

				<div>
					<div class="accordion1_head" ng-click="innerPageCtrl.method.toggleFaq($event)">
						<span class="plusminus1">+</span>
						<span class="accordian1-title">What can I expect in my HealYos Physiotherapy sessions?</span>
					</div>
					<div class="accordion1_body" style="display: none;"> 
						<p>Your first session with Healyos is an assessment session, where your Physiotherapist understands your history, diagnoses your condition, and sets up a treatment plan that aligns with the outcomes you seek from your treatment.</p>
						<p>Your treatment begins from your second session, where your Physiotherapist uses a range of specialist techniques, continually making adjustments to the treatment plan based on your response. <i>You can also expect some homework from your Physiotherapist, such as some body movements, exercises and lifestyle modifications, that not only enhance and maintain the effect of the treatment, they prevent recurrence of the original problem.</i></p>
					</div>
				</div>

				<div>
					<div class="accordion1_head" ng-click="innerPageCtrl.method.toggleFaq($event)">
						<span class="plusminus1">+</span>
						<span class="accordian1-title">Can I rebook the same Physiotherapist?</span>
					</div>
					<div class="accordion1_body" style="display: none;"> 
						<p>If you have started treatment with a Physiotherapist, we will try to ensure that the same Physiotherapist comes to you till the end of your treatment cycle.</p>
					</div>
				</div>

				<div>
					<div class="accordion1_head" ng-click="innerPageCtrl.method.toggleFaq($event)">
						<span class="plusminus1">+</span>
						<span class="accordian1-title">What should I wear for my Physiotherapy session?</span>
					</div>
					<div class="accordion1_body" style="display: none;"> 
						<p>We recommend you wear loose and comfortable clothes for your Physiotherapy appointment.</p>
					</div>
				</div>

				<div>
					<div class="accordion1_head" ng-click="innerPageCtrl.method.toggleFaq($event)">
						<span class="plusminus1">+</span>
						<span class="accordian1-title">Can I reschedule or cancel my HealYos physiotherapy appointment?</span>
					</div>
					<div class="accordion1_body" style="display: none;"> 
						<p>The fastest way to reschedule or cancel your HealYos appointment is to call your Physiotherapist and request them to move/cancel your appointment. You can also call our call centre at <a href="tel:020-65802802">020-65802802</a> between 9.00 am to 9.00 p.m. (Sat-Sun 9.00 am – 6.00 p.m.) and our Customer Care executive should be able to help you.</p>
					</div>
				</div>

				<!-- <div ng-repeat="i in cpc.groups">
					<div class="accordion1_head" ng-click="innerPageCtrl.method.toggleFaq($event)">
						<span class="plusminus1">+</span>
						<span class="accordian1-title" ng-bind-html = "i.title"></span>
					</div>
					<div class="accordion1_body" style="display: none;"> 
						<p ng-bind-html = "i.content"></p> 
					</div>
				</div> -->			
			</div>
		</div>		
	</div>
</div>
<script type="text/javascript">
	// ViewContent
	// Track key page views (ex: product page, landing page or article)
	try {
		fbq('track', 'ViewContent');
	} catch(err) {}
</script>