<!-- Header -->
<div class = "container-fluid">
	<div class="container header-container">
		<div ng-include = "'./CustPortal/home_partials/custPortal_header.html'"></div>
	</div>
</div>

<div class="container-fluid inner-page-contactus-banner-image">
</div>
<div class="container">
	<div class="contactus-heading inner-page-banner-heading">
		<h1>Our Physitherapy Experts</h1>
	</div>
</div>
<div class="container">
	<div class="innerpage-physio-main-container">
		<div class="innerpage-physio-content">
			<div class="row innerpage-physio-section">
				<div class="col-xs-12 col-sm-2 innerpage-physio-image-left">
					<img src="./images/customer_portal/experts1.png" alt="katrina kaif" />
				</div>
				<div class="col-xs-12 col-sm-10 innerpage-physio-content-right">
					<div class="innerpage-physio-section-heading">
						Neha Chhabra
					</div>
					<div class="innerpage-physio-section-subheading">
						M.Sc. Physiotherapy, Manchester Metropolitan University(UK)
					</div>
					<div class="innerpage-physio-section-text">
						<p><strong><i>Neha Chhabra</i></strong>, M.Sc. Physiotherapy, Manchester Metropolitan University (UK). Besides an expertise in Musculoskeletal and Sports Physiotherapy, Neha has interned with the Manchester United Football Academy in the UK. She also has solid experience with leading and coaching large physiotherapy teams. A football nut, she plays and wins fantasy football often.</p>
					</div>
				</div>
			</div>

			<div class="row innerpage-physio-section">
				<div class="col-xs-12 col-sm-2 innerpage-physio-image-left">
					<img src="./images/customer_portal/experts2.png" alt="katrina kaif" />
				</div>
				<div class="col-xs-12 col-sm-10 innerpage-physio-content-right">
					<div class="innerpage-physio-section-heading">
						Sabiha Nagani
					</div>
					<div class="innerpage-physio-section-subheading">
						Masters in Physiotherapy, Sancheti Institute of Orthopaedicsand Rehabilitation (India)
					</div>
					<div class="innerpage-physio-section-text">
						<p><strong><i>Sabiha Nagani</i></strong> is a Masters in Physiotherapy from Sancheti Institute of Orthopaedics and Rehabilitation (India), specializing in Community Medicine. Ranked third in the University during her Masters, she has worked as a clinical therapist at Pune’s M.A. Rangoonwala College of Physiotherapy and Research and as a Consultant Physiotherapist at a private, local clinic. She is an avid reader and a fan of both the Harry Potter and the Twilight series. She loves watching animation films and is the proud owner of the entire Ice Age and Princess Diaries series.</p>
					</div>
				</div>
			</div>

			<div class="row innerpage-physio-section">
				<div class="col-xs-12 col-sm-2 innerpage-physio-image-left">
					<img src="./images/customer_portal/experts4.png" alt="katrina kaif" />
				</div>
				<div class="col-xs-12 col-sm-10 innerpage-physio-content-right">
					<div class="innerpage-physio-section-heading">
						Neha Joshi
					</div>
					<div class="innerpage-physio-section-subheading">
						Master of Science in Musculoskeletal Rehabilitation, Oxford Brookes University, Oxford (UK)
					</div>
					<div class="innerpage-physio-section-text">
						<p><strong><i>Neha Joshi</i></strong> is a Master of Science in Musculoskeletal Rehabilitation from Oxford Brookes University, Oxford (UK). Her work experience encompasses the Sancheti Institute of Orthopaedics and Rehabilitation and the ProRehab Physiotherapy Clinic (Pune), as well as The Spine Clinic in Pune. Her expertise includes sports injuries, spine management, foot and ankle management and shoulder rehabilitation. She has a beagle called Tubby, and spends her free time playing with him and taking him for dog dates!  She is also a travel nut –explains why she married a shippie.</p>
					</div>
				</div>
			</div>

			<div class="row innerpage-physio-section">
				<div class="col-xs-12 col-sm-2 innerpage-physio-image-left">
					<img src="./images/customer_portal/experts3.png" alt="katrina kaif" />
				</div>
				<div class="col-xs-12 col-sm-10 innerpage-physio-content-right">
					<div class="innerpage-physio-section-heading">
						Nikita Pradhan
					</div>
					<div class="innerpage-physio-section-subheading">
						Masters in Science (Musculoskeletal Rehabilitation), Oxford Brookes University, Oxford (UK)
					</div>
					<div class="innerpage-physio-section-text">
						<p><strong><i>Nikita Pradhan</i></strong> has a Masters in Science (Musculoskeletal Rehabilitation) from Oxford Brookes University, Oxford (U.K.) She has worked at the Sancheti Institute of Orthopaedics and the Rehabilitation and ProRehab Physiotherapy Clinic (Pune). Her expertise includes Trauma, Foot and Ankle, Shoulder and Knee. She loves retail therapy and can spend hours in a mall. She loves to cook, experiments with new dishes and and uses her mom as her guinea pig.</p>
					</div>
				</div>
			</div>
		</div>		
	</div>	
</div>

<!-- Ready to book -->
<div class = "container-fluid ready-to-book-image">
	<div class="container">
		
		<!--<div ng-include = "'./CustPortal/other_pages/innerPage_ready_to_book.html'"></div>-->
		<!--<div ng-include = "'./CustPortal/home_partials/custPortal_ready_to_book.html'"></div>-->

		<div class="ready-to-book-content booknow-container  ready-to-book-top">	
			<div class="ready-to-book-heading">Ready to book</div>
			<div class="ready-to-book-booknow-section">
				<!--<div ng-include = "'./CustPortal/home_partials/custPortal_booknow_footer.html'" class="booknow-container"></div> -->


				<div class="booknow-outer">
					<!--<span class="locations-section">

				         <select class="ac-select stateList"
				            id="lCombo"
				            ac-model="innerPageCtrl.model.selectedLocation"
				            ac-refresh = cpc.acRefresh
				            acute-options="locationArray"
				            ac-options="l.val for l in cpc.getAllLocations()"  
				            ac-settings="{ allowClear: true, maxWidth: '250px', itemsInView: 20, loadOnCreate: false, comboMode: false, loadOnOpen: true, minWidth: '250px', height: '23px' }"         
				            ac-change="innerPageCtrl.method.locationSelected(value)"
				            ac-key="pin">
				        </select>
				    </span>
					<span class="date-section">
				        <div class='input-group date dt'>
				            <input type="text" id = "dt3"
				            name = "fromDate"
				            date-disabled="cpc.disabled(date, mode)"
				            title="From Date" 
				            class="callmeField2 datetimepicker2 form-control"
				            placeholder="Pick a Date"
				           />
				            <span class="input-group-addon">
				                <label for="dt3">
				                    <img src="./images/customer_portal/down_arrow.png" />
				                </label>                
				            </span>
				        </div>
				    </span>
				    <span class="timeslot-section">
				        <select ng-model="innerPageCtrl.model.timeslot" ng-options = "time.starttime for time in innerPageCtrl.model.timeslotArray">
				            <option value="">Select Time</option>
				        </select>
				    </span>-->

					<span class="book-now-button" ng-click="innerPageCtrl.method.redirectToBooking1()" style="margin-left: 340px;">BOOK MY SESSION</span>
				</div>


				</div>
				<div class="ready-to-book-booknow-mobile">
					<button type="button">START HERE</button>
				</div>
				<div class="ready-to-book-contact-section">
					<span class="ready-to-book-contact-subsection1">
						<img src="./images/customer_portal/Icon_call_white.png">
						<a href="tel:9370588888"><span class="ready-to-book-phonenumber">9370588888</span></a>
					</span>
					<div class="footer-booknow home-redirecting-buttons">
						<a ui-sref="home"> <button type="button">BOOK NOW</button> </a>
					</div>
					<span class="ready-to-book-contact-subsection2">
						<span class="dash"></span>
						<span class="or">or</span>
						<span class="dash"></span>
					</span>			
					<span class="ready-to-book-contact-subsection3">
						<img src="./images/customer_portal/Icon_callback_white.png">
						<span class="ready-to-book-callback">REQUEST A CALL BACK</span>
					</span>
				</div>
		</div>

	</div>
</div>

<!-- Footer -->
<div class = "container-fluid home-footer">
	<div class="container">
		<footer>
            <div ng-include = "'./CustPortal/home_partials/custPortal_footer.html'"></div>
        </footer>
	</div>
</div>
<script type="text/javascript">
$( document ).ready(function() {
	    document.title = "Meet the Physiotherapy experts at HealYos - Book physio online";
	    document.querySelector('meta[name="description"]').setAttribute("content", "Our team of trained and professional physiotherapists come to your home or office at your convenience, a far better alternative to looking for parking and queue in a clinic.");
	    document.querySelector('meta[name="keywords"]').setAttribute("content", "Physiotherapists near you, Physio near you, Trained physiotherapists, Physio at home service"); 
});
</script>