<!-- Header -->
<div class = "container-fluid">
	<div class="container header-container">
		<div ng-include = "'./CustPortal/home_partials/custPortal_header.html'"></div>
	</div>
</div>

<div class="container-fluid inner-page-contactus-banner-image" style="background-image: url(../../images/customer_portal/shoulder.png);">
</div>
<div class="container">
	<div class="contactus-heading inner-page-banner-heading">
		<h1>Physiotherapy for Shoulder</h1>
	</div>
</div>

<div class="container">
	<div class="workwithus-main-container">
		<div class="workwithus-main-content">
			<div class="workwithus-section1-content">
				<div class="workwithus-heading"><h2>Take your Shoulder pain seriously</h2></div>
				<div class="workwithus-text">
					<p>Frozen shoulder and rotator cuff problems are commonly faced problems; whereas things like acromioclavicular joint trouble and shoulder instability tend to affect younger people, especially those who play contact sports or sport involving repetitive shoulder movements.</p>
<p>It can become a chronic problem if you don’t treat it, with up to 50% of people still having symptoms after 18 months.</p>
<p>Shoulder rehabilitation focuses on two aspects of shoulder motion: flexibility and strength. Without adequate range of motion, you’ll be very limited in what you can do; so the goal is to be able to function normally without pain.</p>
<p>It’s also important to strengthen the muscles around the shoulder and not to stress the rotator cuff muscles of the shoulder. These muscles are susceptible to injury and inflammation if the exercises aren’t being done correctly, so your physiotherapist will guide you through the correct form.</p>
<p>Chronic shoulder pain is often a result of repetitive overhead activities, like tennis; certain swimming strokes, etc. and such pain is a result of damage to the rotator cuff muscles.
</p>
					

				</div>
			</div>
		</div>
	</div>
</div>

<!-- Ready to book -->
<div class = "container-fluid ready-to-book-image">
	<div class="container">
		
		<!--<div ng-include = "'./CustPortal/other_pages/innerPage_ready_to_book.html'"></div>-->
		<!--<div ng-include = "'./CustPortal/home_partials/custPortal_ready_to_book.html'"></div>-->

		<div class="ready-to-book-content booknow-container  ready-to-book-top">	
			<div class="ready-to-book-heading">Ready to book</div>
			<div class="ready-to-book-booknow-section">
				<!--<div ng-include = "'./CustPortal/home_partials/custPortal_booknow_footer.html'" class="booknow-container"></div> -->


				<div class="booknow-outer">
					<span class="locations-section">
						<!--<select class="ac-select"
				            id="lCombo"
				            ac-model="cpc.selectedLocation"
				            ac-refresh = cpc.acRefresh
				            ac-options="l.val for l in cpc.getAllLocations()"
				            ac-settings="{ allowClear: true, maxWidth: '250px', itemsInView: 20, loadOnCreate: false, comboMode: false, loadOnOpen: true, minWidth: '250px', height: '23px' }"
				            ac-change="cpc.locationSelected(value)"
				            ac-key="pin">
				        </select>-->

				         <select class="ac-select stateList"
				            id="lCombo"
				            ac-model="innerPageCtrl.model.selectedLocation"
				            ac-refresh = cpc.acRefresh
				            acute-options="locationArray"
				            ac-options="l.val for l in cpc.getAllLocations()"  
				            ac-settings="{ allowClear: true, maxWidth: '250px', itemsInView: 20, loadOnCreate: false, comboMode: false, loadOnOpen: true, minWidth: '250px', height: '23px' }"         
				            ac-change="innerPageCtrl.method.locationSelected(value)"
				            ac-key="pin">
				        </select>
				    </span>
					<span class="date-section">
				        <div class='input-group date dt'>
				            <input type="text" id = "dt3"
				            name = "fromDate"
				            date-disabled="cpc.disabled(date, mode)"
				            title="From Date" 
				            class="callmeField2 datetimepicker2 form-control"
				            placeholder="Pick a Date"
				           />
				            <span class="input-group-addon">
				                <label for="dt3">
				                    <img src="./images/customer_portal/down_arrow.png" />
				                </label>                
				            </span>
				        </div>
				    </span>
				    <span class="timeslot-section">
				        <select ng-model="innerPageCtrl.model.timeslot" ng-options = "time.starttime for time in innerPageCtrl.model.timeslotArray">
				            <option value="">Select Time</option>
				        </select>
				    </span>

					<span class="book-now-button" ng-click="innerPageCtrl.method.redirectToBooking1()">BOOK MY SESSION</span>
				</div>


				</div>
				<div class="ready-to-book-booknow-mobile">
					<button type="button">START HERE</button>
				</div>
				<div class="ready-to-book-contact-section">
					<span class="ready-to-book-contact-subsection1">
						<img src="./images/customer_portal/Icon_call_white.png">
						<a href="tel:9370588888"><span class="ready-to-book-phonenumber">9370588888</span></a>
					</span>
					<div class="footer-booknow home-redirecting-buttons">
						<a ui-sref="home"> <button type="button">BOOK NOW</button> </a>
					</div>
					<span class="ready-to-book-contact-subsection2">
						<span class="dash"></span>
						<span class="or">or</span>
						<span class="dash"></span>
					</span>			
					<span class="ready-to-book-contact-subsection3">
						<img src="./images/customer_portal/Icon_callback_white.png">
						<span class="ready-to-book-callback">REQUEST A CALL BACK</span>
					</span>
				</div>
		</div>

	</div>
</div>

<!-- Footer -->
<div class = "container-fluid home-footer">
	<div class="container">
		<footer>
            <div ng-include = "'./CustPortal/home_partials/custPortal_footer.html'"></div>
        </footer>
	</div>
</div>
<script type="text/javascript">
	// ViewContent
	// Track key page views (ex: product page, landing page or article)
	try {
		fbq('track', 'ViewContent');
	} catch(err) {}
	$( document ).ready(function() {
	    document.title = "Physiotherapy for shoulder? Book doorstep physiotherpy service online | HealYos";
	    document.querySelector('meta[name="description"]').setAttribute("content", "Looking for an expert Physiotherapy For Shoulder at home? Book physiotherapy session for Shoulder online on HealYos. Get relieve from all your Shoulder pains with HealYos.");
	    document.querySelector('meta[name="keywords"]').setAttribute("content", "Physiotherapy For Shoulder, Shoulder pain, Shoulder physio, shoulder pain recover, Pain in shoulder"); 
	});
</script>